# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\我的代码集\ours自监督gat1-5.11--base4 - come on\HeCo-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
